:root {
    --logo-color: #000000;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color-header:#FFFFFF;
    --accent-color: #2196F3;
    --main-background: #F5F5F5;
    --secondary-background: #F5F4FA;
    --header-footer: #2F303A;
    --button-background:#F5F4FA;
    --indent:30px;
    --items:3;
}

/* цвета */
/* Логотип: #000000; */
/* основной цвет текста: #212121; */
/* вторичный цвет текста: #757575; */
/* белый цвет текста и header: #FFFFFF; */
/* accent: #2196F3; */
/* основной фон: #F5F5F5; */
/* вторичный фон: #F5F4FA; */
/* header-footer: #2F303A; */
/* фон кнопки #F5F4FA; */
body {
    color:var(--primary-text-color);
    background-color:var(--white-text-color-header);
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

button {
    font-family: inherit;
}
.list {
    list-style:none;
}
.link {
    text-decoration: none;
}

.header {
    background:var(--white-text-color-header);
}

.header-container {
    display: flex;
    align-items:center;
    padding: 24px 93px 25px 215px;
}
.logo:link {
    margin-right:93px;
}
.logo {
    font-family:'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    }
    
.logo-header {
        color:var(--logo-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap:30px;
    margin: 32px;
}

.header-nav {
    display: flex;
}

.nav-item {}

.nav-link {
    font-weight: 500;
    color:var(--primary-text-color);
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
}
/* смена цвета */

.current {
    color:var(--accent-color);
}
.header-tel:hover,.header-tel:focus {
color: var(--accent-color);
}
.nav-link:hover, .nav-link:focus {
    color:var(--accent-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
}
/* button */


.about-container {
    display: flex;
    margin: 30px;
    padding: 94px;
}
.about-list {
    display: flex;
    gap:var(--indent);
}
.about-team {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.button {
    text-align: center;                                 
    color:var(--primary-text-color);
    background:var(--button-background);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 
 
.prise-btn {
    display: block;
    margin: auto;
}
   
.button:hover,.button:focus {
    color:var(--white-text-color-header);
    background-color:var(--accent-color);
}  

.hero-button {                                
    color:var(--white-text-color-header);
    background:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;

} 

.hero-background {
    
}
.background {
    background-color:var(--header-footer);
    color:var(--white-text-color-header);
    text-align: center;
    height: 600px;
    font-weight:900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 200px 452px 280px 452px;
 }


  
ul {
    list-style: none;
}


/* site nav Навигация*/


/* sektion portfolio */

.site-nav, .link:hover
.site-nav, .link:focus{
    color:var(--logo-color);
}
/* Специализация */


.section-text {
    text-align:left;
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}
.section-team {
    text-align:left;
    font-weight: 500;
    font-size: 16px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.secondary-text {
    text-align:left;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
}
.secondary-team {
    text-align:left;
    font-weight: 400;
    font-size: 16px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
}
.section-title {
    text-align:left;
    font-weight: 700;
    font-size: 36px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}
.section-cards {
    text-align:left;
    font-weight: 700;
    font-size: 18px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.footer {
    background-color:var(--header-footer);
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
}
.address {
    font-style: normal;
}
.footer-location {
    color: var(--white-text-color-header);
}
.logo-footer {
    color:var(--white-text-color-header);
    font-family: 'Raleway';
}
.footer-contact {
    color:var(--secondary-text-color);
}
